.item {
    background-color: antiquewhite;
    display: flex;
    margin: 16px 0;
    padding: 12px;
    position: relative;
}

.content {
    flex: auto;
    text-align: center;
    /* background-color: black; */
    font-weight: bold;
}

.desc {
    font-size: 16px;
    color: #333;
}

.time {
    font-size: 24px;
    color: blueviolet;
}

.delete {
    margin-right: 6px;
    color: rgb(110, 124, 119);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.delete:hover {
    color: blueviolet;
    transform: rotate(1turn);
}