.date{
    width: 90px;
    background-color: #fff;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.month{
    height: 26px;
    line-height: 26px;
    background-color: blueviolet;
    color: #fff;
}
.day{
    height: 64px;
    line-height: 64px;
    font-size: 36px;
}