.confirmModal {
    flex-flow: column;
    display: flex;
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.confirmText {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: blueviolet;
}

.confirmButton {
    background-color: blue;
    display: flex;

}